<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar align-title="center" class="bar app-top-bar"  style="background-color:#daa324 !important">
      <ion-nav-back-button>
      </ion-nav-back-button>
dedad7
      <ion-nav-buttons side="right">
       <button class="button button-icon button-clear ion-navicon" 
            menu-toggle="left">
       </button>
      </ion-nav-buttons>
    </ion-nav-bar>
   

   
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
	
  <ion-side-menu side="left" class="main-menu" expose-aside-when="large">
    <ion-content>
      <ion-list>
        <ion-item  style="margin-left:50px" nav-clear menu-close ui-sref="app.deals">
        	<img  ng-src="img/logo.png"> 
        </ion-item>
	
		<ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.deals">
		  <i class="icon"><img  style="width:40px; height:40px; color:#656663" src="img/sidemenu/3.png" ></i>
          
          <h2 class="menu-text" style="text-align:right; color:#656663">ראשי</h2>
        </ion-item>

        <ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.deals">
		  <i class="icon"><img  style="width:40px; height:40px;" src="img/sidemenu/5.png" ></i>
          <h2 class="menu-text" style="text-align:right; color:#656663; ">אתר הבית</h2>
        </ion-item>
	
		<ion-item class="item-icon-right" nav-clear menu-close ui-sref="app.contact">
		  <i class="icon"><img style="width:40px; height:40px;" src="img/sidemenu/4.png" ></i>
          <h2 class="menu-text" style="text-align:right; color:#656663">צור קשר</h2>
        </ion-item>
		
        <ion-item class="item-icon-right" nav-clear menu-close href="http://www.tapper.co.il" >
          <img width="118"  height="49" style="float:right; right:30px; position:relative" src="img/tapperwhite.png" alt="" >
          <h2 class="menu-text" style="font-size:12px; color:#656663"></h2>
        </ion-item>			

    </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
