/* Empty. Add your own CSS if you like */

.BackgroundImage
{
	background-image:url('../img/pt.png'); 
	overflow:hidden
}

.MainDiv
{
	width:100%;
	overflow:hidden;
}

.Inside_MainDiv
{
	width:85%;
	margin-top:10px;
}

.Inside_MainDiv_Deals
{
	width:85%;
	margin-top:30px;
}

.loginForm div
{
	width:100%;
	margin-top:15px;
}

.title-image
{
	width:110px;
	margin-top:10px;
}

/* header */
.bar.bar-stable {
    background-color: #00c9c7;
    color: #f4f4f4;
}
.bar.bar-stable .title {
    background-color: #00c9c7;
    color: #f4f4f4;
}

.loginInput 
{
	position:relative;
	font-size:16px;
	font-weight:bold;
	color:#daa324 !important;
	padding-top:10px !important;
	padding-bottom:10px !important;
	height:50px !important;
	text-align:center;
	z-index:100;
	width:100%;
	background-color:transparent !important;
    border:2px solid #daa324 !important;
}

/* Main Page  */

.cubesDiv
{
	overflow:hidden;
	margin-top:100px;
}

.HeadreCubes
{
	width:100%;
	overflow:hidden;
}

.leftCube
{
	float:left;
	width:49%;
}

.rightCube
{
	float:right;
	width:49%;
}


/* License Page*/


.LicenseRows
{
	overflow:hidden;
	width:100%;
	margin-top:20px;
}

.LicenseRows_text
{
	float:right;
	width:70%;
	text-align:right;
	direction:rtl;
	padding-right:10px;
	color:white;
}

.LicenseRows_text h3
{
	color:white;
}

.LicenseRows_text h4
{
	color:white;
	margin-top:-10px;
}

.LicenseRows_image
{
	float:left;
	width:27%;
	padding-left:10px;
}

.licenseLine
{
	margin-bottom:5px;
	width:100%;
}

.iIcon
{
	padding-right:10px;	
}

.licenseInput
{
	text-align:right;
	direction:rtl
}


.licenseIcon
{
	width:24px;
	margin-top:6px;
}

/* Suppliers Page*/

.rowDiv
{
	overflow:hidden;
	width:100%;
	margin-top:20px;
	text-align:right;
}

.LeftRowDiv
{
	width:25%;
	float:left
}

.RightRowDiv
{
	width:30%;
	float:right
}

.CenterRowDiv
{
	width:70%;
	float:right;
	margin-right:8px;
	margin-top:10px;
}

#rowName
{
	color:#22aab0;
	direction:rtl;
	font-size:19px;
	font-weight:bold;
}

#rowTitle
{
	margin-top:-5px;
	direction:rtl;
	color:#858585;
	font-size:15px;
}

#rowAdress
{
	margin-top:-7px;
	direction:rtl;
	color:#858585;
	font-size:13px;
}

#favText
{
	font-size:12px;
	text-align:center;
	font-weight:bold;
	color:#f1ae0d;
}


/* Info Page */

#infoHeader
{
	margin-top:-20px;
	text-align:right;
	direction:rtl;
	color:#858585;
	font-size:16px;
}

#infoHeader span
{
	text-align:right;
	font-weight:bold;
	direction:rtl;
	color:#daa324;
	font-size:16px;
}

#infoImg
{
	border:1px solid #cccac6;
}

#InfoAboutText
{
	text-align:right;
	direction:rtl;
	color:#00c9c7 !important;
	font-size:14px;
	font-weight:bold;
	padding-bottom:120px;
	margin-top:10px;
}


#infoFooter
{
	position:fixed;
	overflow:hidden;
	width:100%;
	bottom:0px;
	background-color:#e9e9e9;
	border-top:none !important;
}


#infoFooter_left
{
	float:left;
	width:50%;
}

#infoFooter_right
{
	float:right;
	width:50%;
}

/* Deal Page */

.dealDiv
{
	position:relative; 
	left:0; 
	top: 0;
	margin-top:15px;
}

#imgDeal
{
	
}


#percent
{
	width:100%;
	position:absolute;
	top:0px;
	overflow:hidden;
}

#percentImg
{
	position:relative;
	right:10px;
	float:right;
}

#percentImg img
{
	width:75%;
}

#percentText
{
	position:absolute;
	text-align:center;
	left:23%;
	padding-top:10px;
	line-height:0.8;
	font-weight:bold;
	font-size:28px;
	color:white;
}

#overlayRight
{
	float:right;
	width:70%;
}

#overlayLeft
{
	float:left;
	width:30%;
	z-index:100;
	position:relative;
	top:0px;
	left:0px;
	overflow:hidden;
}

#overlayImage
{
	width:100%;
	height:80px;
	position:absolute;
	bottom:5px;
	overflow:hidden;
	z-index:100;
}

#overImg
{
	width:100%;
	background-color:black;
	height:80px;
	opacity:0.4;
	position:absolute;
	bottom:0px;
	overflow:hidden;
	z-index:-1;
}

#dateImg
{
	position:relative;
	left:30px;
	top:0px;
	padding-top:7px;
	float:left;
	height:70px;
	width:30px;
}

#dateText
{
	height:70px; 
	margin-top:5px; 
	float:left; 
	margin-left:20px; 
	position:absolute
}

#dateText1
{
	margin-top:23px;
	font-size:20px;
	font-weight:bold;
	margin-left:9px;
	color:white;
}

#dateText2
{
	margin-top:-10px;
	font-size:14px;
	font-weight:bold;
	margin-left:11px;
	color:white;
}

#dateText3
{
	margin-top:-10px;
	font-size:14px;
	font-weight:bold;
	margin-left:-20px;
}

#dealInfo1
{
	text-align:right;
	font-size:20px;
	font-weight:bold;
	margin-right:10px;
	color:white;
	margin-top:7px;
}

#dealInfo2
{
	text-align:right;
	font-size:14px;
	font-weight:bold;
	margin-right:10px;
	color:white;
	margin-top:-7px;
}

#dealInfo3
{
	text-align:right;
	font-size:16px;
	margin-right:10px;
	color:white;
	margin-top:-7px;
	direction:rtl;
}

#newPrice
{
	text-decoration:line-through;
}
#oldPrice
{
	color:#d6a82a;
}

/* Blog  */

.blogDiv
{
	color:#858585;
	border:1px solid #c9c7c3;
	margin-top:10px;
	text-align:right;
	direction:rtl;
	padding:10px;
	overflow:hidden;
}

#blogTitle
{
	font-size:17px;
	font-weight:bold;
	color:#22aab0;
}

#blogdesc
{
	font-size:13px;
	margin-top:-10px;
	line-height:1.1;
	padding-left:4px;
}

#blogLine
{
	width:100%;
	height:1px;
	margin-top:-3px;
	background-color:#c9c7c3
}

#blogRight
{
	float:right;
	width:65%;
	margin-top:-5px;
}

#blogLeft
{
	float:left;
	width:35%;
}

#blogmore
{
	margin-top:-10px;
}


#articleTitle
{
	font-size:18px;
	margin-top:5px;
	font-weight:bold;
	color:#22aab0;
	text-align:right;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}